<template>
  <main>
      <cv-profile></cv-profile>
      <cv-section name="relevantExperience"></cv-section>
      <cv-section name="education"></cv-section>
      <cv-section name="skills"></cv-section>
      <cv-section name="otherExperience"></cv-section>
      <cv-section name="portfolio"></cv-section>
      <cv-section name="interests"></cv-section>
      <cv-section name="references"></cv-section>
  </main>
</template>

<script>
import cvProfile from './cv-profile.vue'
import cvSection from './cv-section.vue'
export default {
  name: 'app',
  components: {
      'cv-profile': cvProfile,
      'cv-section': cvSection
  },
}
</script>

<style lang="less">
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', Helvetica, Sans-Serif;
    font-size: 1.6rem;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
main {
    width: 800px;
    margin: 0 auto;
}
h1 {
    font-size: 3.3rem;
}
h2 {
    font-size: 2.1rem;
}
h3 {
    font-size: 1.9rem;
}
h4 {
    font-size: 1.7rem;
    /*font-weight: normal;*/
}
a {
    color: #2A6EA8;
    text-decoration: none;
    &:hover {
        border-bottom: 1px dotted #028AFF;
        color: #028AFF;
    }
    &:after {
        color: #466F92;
    }
}
</style>
