<template>
    <section class="clearfix">
        <img v-bind:src="image">
        <h1>{{name}}</h1>
        <div class="data">
            <div>E-post: <a class="email" v-bind:href="'mailto:' + email">{{email}}</a></div>
            <div>Telefon: <span class="tel">{{phone}}</span></div>
            <div v-if="address">Addresse: <span>{{address}}</span></div>
            <div>Født: <span>{{birthdate}}</span></div>
            <div>Sivilstand: <span>{{sivil}}</span></div>
        </div>
        <p class="about">
          "{{about}}"
        </p>
    </section>
</template>
<script>
import { profile } from './store';
export default {
    data() {
        return profile
    }
}
</script>
<style lang="less" scoped>

section {
    margin-bottom: 3rem;
    padding: 4rem 0 0;
}

h1 {
    margin-bottom: 1.6rem;
    height: 4rem;
    border-bottom: 1rem solid #c95c00;
}

img {
    float: right;
    margin: -30px 50px 0;
    max-height: 270px;
}

.data {
    margin-bottom: 1.6rem;
}

.about {
    color: #c95c00;
    font-style: italic;
}
</style>
