<template>
    <section class="clearfix">
        <h2>{{title}}</h2>
        <div class="content">
            <div v-for="item in items">
                <h3>{{item.title}}</h3>
                <div class="sub-title">{{item.subTitle}}</div>
                <div class="dates" v-html="item.date"></div>
                <p v-for="p in item.p" v-html="p"></p>
                <ul>
                    <li v-for="point in item.points" v-html="point">
                </ul>
            </div>
        </div>

    </section>
</template>
<script>
import { sections } from './store';
export default {
    props: ['name'],
    data() {
        return sections[this.name];
    }
}
</script>
<style lang="less" scoped>
h2 {
    font-style: italic;
    text-align: right;
    width: 100px;
    float: left;
}

.content {
    float: right;
    width: 660px;
    padding-left: 1.3rem;
    margin-bottom: 4rem;
    border-left: 1px solid #999;
    h3 {
        color: #c95c00;
    }
    > div {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
        p, h4, ul {
            margin-left: 2rem;
        }
        p {
            margin-bottom: 1.4rem;
        }
        ul {
            list-style-position: inside;
        }
    }
}
.sub-title {
    color: #777;
    margin-bottom: 1.4rem;

}

.dates {
    position: absolute;
    font-style: italic;
    font-size: 1.5rem;
    top: 0;
    right: 0;
    color: #999;
}
</style>
